.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  background-color: #1e293b;
  border-radius: 16px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-spinner {
  margin: 0 auto;
}
